[submodule "icarus_lib/3rdparty/vcpkg"]
	path = include/3rdparty/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "include/3rdparty/soci"]
	path = include/3rdparty/soci
	url = https://github.com/soci/soci
